#Project status
# NODE_ENV=production
NODE_ENV=development
#URL SERVER
SERVER_URL=http://localhost:10000
PORT=10000

#AAPanel API
RESTART_URL=https://example.com:port/project/nodejs/restart_project
BT_KEY=